*, body {
  color: #fff;
  background: #36454f;
  font-family: "Open Sans",Verdana,Arial,Helvetica,sans-serif;
}

.red-color {
  color: #FF5757;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  background-color: #FF5757;
  border-color: #FF5757;
  transition: all 0.1s ease-in-out 0s;
}
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  background-color: #ff0f0f;
  border-color: #ff0f0f;
}

input,
textarea {
  color: #222;
}

.logo {
  height: 38px;
  vertical-align: middle;
  max-width: 100%;
}

hr {
  border: none;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.066);
  height: 1px;
}

table {
  width: 100%;
}

header {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.066);
  position: relative;
}

header a {
  font-weight: 600;
  font-size: 13px;
  padding: 20px 26px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  transition: all 0.1s ease-in-out 0s;
}
header a.active {
  color: #FF5757;
}

header a.active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 18px;
  right: 18px;
  height: 3px;
  background: #FF5757;
}
header a:hover {
  color: #fff;
  background: rgba(0,0,0,0.04);
}

h1 {
  font-weight: bolder;
  font-size: 60px;
  margin: 1em 0;
  text-rendering: optimizeLegibility;
}

main {
  margin: 0 auto;
  padding-top: 45px;
}

.border-right {
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.066);
}

.spaced {
  margin-top: 50px !important;
}

.box {
  border: 1px solid #eee;
  padding: 2em;
}

.sm-container {
  width: 400px;
  margin: 0 auto;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.fade-in * {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 400ms;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
